In [12]:
import sqlite3
import pandas as pd

# Connect to SQLite
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Load CSV into SQLite 
df = pd.read_csv("ecdc_cases.csv")
df.to_sql("ecdc_cases", conn, index=False, if_exists="replace")

61900

In [13]:
# Total cases per country
query1 = """
SELECT countries_and_territories, SUM(cases) as total_cases
FROM ecdc_cases
GROUP BY countries_and_territories
ORDER BY total_cases DESC
"""
df_total_cases = pd.read_sql(query1, conn)
print("Total Cases by Country:\n", df_total_cases.head())

df_total_cases.to_csv("total_cases_by_country.csv", index=False)
print("\nQuery executed and saved successfully!")

Total Cases by Country:
   countries_and_territories  total_cases
0                    Brazil    2694729.0
1                    Russia    2653928.0
2  United_States_of_America    2126878.0
3            United_Kingdom    1815933.0
4                 Argentina    1498160.0

Query executed and saved successfully!

In [14]:
# Daily cases in the United Kingdom
query2 = """
SELECT date_rep, cases
FROM ecdc_cases
WHERE countries_and_territories = 'United_Kingdom'
ORDER BY date_rep ASC
"""
df_uk_cases = pd.read_sql(query2, conn)
print("\nUnited Kingdom Cases Over Time:\n", df_uk_cases.head())

df_uk_cases.to_csv("uk_cases_over_time.csv", index=False)

print("\nQueries executed and saved successfully!")

United Kingdom Cases Over Time:
      date_rep  cases
0  2019-12-31    0.0
1  2020-01-01    0.0
2  2020-01-02    0.0
3  2020-01-03    0.0
4  2020-01-04    0.0

Queries executed and saved successfully!